<div class="jumbotron jumbotron-home">
    <div class="container">

    <p></p>

	</div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Stations</h2>
            <p>Our department currently consists of 10 stations staffed by a transport ambulance that is staffed by 3 paramedics. </p>
            <p>These stations are staffed 24 hours a day and 365 days a year.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Admin and Command</h2>
            <p>The Command Staff consists of the Chief, who is the department's Director and Executive Officer, the Assistant Chief of Operations, a Captain of Administration and Training, and a staff of six Duty Captains, all of whom oversee the daily operations of the department. Click on any member of the Command Staff to learn what they each bring to the leadership of the department. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Education and CPR</h2>
            <p>Delaware County EMS provides many services for the community it serves.  We offer programs to area schools, church and youth organizations, and special interest groups.  Some of the programs offered include:  The importance of dialing "9-1-1," Blood Pressure Screenings, Stroke Prevention, Fall Prevention for Seniors, Cardiac Health Awareness, Drinking and Driving Prevention, Car Seat Safety Checks, and Child Safety / Bike Helmet / Bike Safety Information.  Often times we work hand-in-hand with the Delaware General Health District in our Community Awareness Programs. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
