
<h1>Welcome to Delaware County EMS!!!</h1>
<p>As the primary emergency medical provider for the more than 184,000 residents of Delaware County, DCEMS is a professional "emergency-only" agency provided by the Delaware County Board of Commissioners. We are the second largest provider of Emergency Medical Services in Central Ohio.</p>
