<div class="jumbotron jumbotron-home">
</div>

<div class="podcast home">
<h2>Welcome to The Resus Bay!!!!</h2>
<h3>"Bridging EMS and the ED"</h3>
<p>There is no other place where EMS and Emergency Department personnel meet more frequently than in the resuscitation bay.</p>
<p>The Resus Bay Podcast is directed at optimizing care through the prehospital setting into the ED.  The Resus bay will challenge you to question and find solutions to the problems and controversies faced by EMS and ED practitioners daily.</p>
</div>



<iframe id="multi_iframe" frameborder="0" scrolling="no" allowfullscreen="" src="https://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F1272116%2Fplaylist_multi.xml&vjs=1&kdsowie31j4k1jlf912=b29b8b0c38e66b42b5c45082769a97c0ebe54e37&size=240&share=1&fonts=Helvetica&auto=0&download=0&skin=3" width="100%" height="430"></iframe>