<div class="jumbotron jumbotron-home"></div>
<hr>
<h1>Command Staff</h1>

<div class="container-fluid">
	<div class="row">Director/Chief Mike Schuiling</div>
	<div class="row">Assistant Chief Eric Burgess</div>
	<div class="row">Assistant Chief Aaron Jennings</div>
	<div class="row">Office Manager Sheila Perin</div>
</div>

<table class="table">
	<thead>
		<th>#</th>
		<th>Unit</th>
		<th>Name</th>
		<th>Designation</th>
	</thead>
	<tbody>
		<tr>
		<th scope="row">1</th>
		<td>1 Unit</td>
		<td>Tim Davis</td>
		<td>Captain 461</td>
		</tr>
		<tr>
		<th scope="row">2</th>
		<td>1 Unit</td>
		<td>Bob Fish</td>
		<td>Captain 462</td>
		</tr>
		<tr>
		<td scope="row">3</td>
		<td>2 Unit</td>
		<td>Tom Shover</td>
		<td>Captain 461</td>
		</tr>
		<tr>
		<th scope="row">4</th>
		<td>2 Unit</td>
		<td>Jennifer Cochran</td>
		<td>Captain 462</td>
		</tr>
		<tr>
		<th scope="row">5</th>
		<td>3 Unit</td>
		<td>Kevin Pugh</td>
		<td>Captain 461</td>
		</tr>
		<tr>
		<th scope="row">6</th>
		<td>3 Unit</td>
		<td>Joe Farmer</td>
		<td>Captain 462</td>
		</tr>
		





	</tbody>






</table>