// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('Header-2.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

body {
    padding-top: 5rem;
}

.podcast {
	text-align: center;

}